$primary-color: #1c1678;
$secondary-color: #8576ff;
$accent-color: #7bc9ff;
$accent-color-2: #a3ffd6;

$danger-color: #f04b4b;
$success-color: #008000;

$hover-color: #1de289;

$functional-color-1: #000000;
$functional-color-2: #ccc;
